<!-- Header -->
<div id="main">
<div class="navbar">
    <div class="container flex">
        <div class="logo">
            <a routerLink=""><img src="../../../assets/images/logo/entomo-4.png" alt="logo"></a>
        </div>
        <!-- <h1 class="logo">ENTOMO</h1> -->
        <nav>
            <ul>
                <li><a (click)="onOpenModal(null, 'add')">Blogs</a></li>
                <li><a routerLink="/blogs">PhotoGraphy</a></li>
                <li><a routerLink="/blogs" href="#">Arts</a></li>
                <li><a routerLink="/blogs" href="#">Quotes</a></li>
            </ul>
        </nav>
    </div>
</div>
<section class="blogs">
    <h2 class="md text-center my-2">
        Blogs
    </h2>
    <div class="container grid">
        <div *ngFor="let blog of blogs" class="blog-card item">
            <h4>{{blog.title}}</h4>
            <p>{{blog.description}}</p>
            <img src="{{blog.img_url}}" alt="">
            <div class="btn-flex">
               <a routerLink=""></a>
               <app-button [ngStyle]="{'margin-top':'10px', 'margin-right': '10px'}" text='Edit' color='grey' (btnClick)="onOpenModal(blog, 'edit')"></app-button>
               <app-button  [ngStyle]="{'margin-top':'10px'}" text='Delete' color='brown' (btnClick)="onOpenModal(blog, 'delete')"></app-button>
            </div>
        </div>
    </div>
</section>

<!-- Add blogs -->
<div class="modal fade" id="addBlogModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Blog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddBlog(addForm)">
            <div class="form-group">
               <label for="name">Title</label>
               <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
            </div>
            <div class="form-group">
               <label for="type">Description</label>
               <input type="text" ngModel name="description" class="form-control" id="type" placeholder="Description" required>
            </div>

             <input type="hidden" ngModel name="id" name="id" class="form-control" id="id" placeholder="id">
            <!-- <input type="hidden" ngModel name="mal_id" name="userCode" class="form-control" id="mal_id" placeholder="mal_id"> -->
            <div class="form-group">
               <label for="image">Image URL</label>
               <input type="text" ngModel name="img_url" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-blog-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <a routerLink=""><button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button></a>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
</div>

 
 
 <!-- Edit Modal -->
 <div class="modal fade" id="editBlogModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Blog</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Title</label>
                   <input type="text" ngModel="{{editBlog?.title}}" name="title" class="form-control" id="name" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editBlog?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                   <label for="email">Description</label>
                   <input type="text" ngModel="{{editBlog?.description}}" name="description" class="form-control" id="type" placeholder="Description">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editBlog?.img_url}}" name="img_url" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <a routerLink=""><button (click)="onUpdateBlog(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button></a>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div> 
 

 <!-- Delete Modal -->
 <div class="modal fade" id="deleteBlogModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Blog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete blog <span [ngStyle]="{'color':'red', 'background-color': '#f4f4f4', 'font-weight': 'bold','margin':'7px'}">{{deleteBlog?.title}}</span>?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <a routerLink=""><button class="btn btn-danger" (click)=onDeleteBlog(deleteBlog) data-dismiss="modal">Yes</button></a>
            </div>
         </div>
      </div>
   </div>
 </div>
 