<!-- Header -->
<div class="navbar">
    <div class="container flex">
        <div class="logo">
            <img src="../../../assets/images/logo/entomo-4.png" alt="logo">
        </div>
        <!-- <h1 class="logo">ENTOMO</h1> -->
        <nav>
            <ul>
                <li><a class="makemebigger" href="#"><fa-icon [icon]="faHome"></fa-icon></a></li>
                <li><a class="makemebigger" href="#"><fa-icon [icon]="faTh"></fa-icon></a></li>
                <li><a class="makemebigger" href="#"><fa-icon [icon]="faThList"></fa-icon></a></li>
                <li><a class="makemebigger" href="#"><fa-icon [icon]="faGlobeAmericas"></fa-icon> <span style="margin-left: 5px; font-size: 13px;"><fa-icon [icon]="faAngleDown"></fa-icon></span></a></li>
                <li><a class="makemebigger" href="#"><img class="profileImg" src="https://cdn.pixabay.com/photo/2014/02/05/16/37/london-259174_960_720.jpg" alt=""><span style="margin-left: 5px; font-size: 13px;"><fa-icon [icon]="faAngleDown"></fa-icon></span></a></li>
            </ul>
        </nav>
    </div>
</div>