<!-- <p>center works!</p> -->


    <div class="main-content">
        <div class="card custome-card">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-1">
                        <span><a href="#"><img class="bigProfile" src="https://cdn.pixabay.com/photo/2014/02/05/16/37/london-259174_960_720.jpg" alt=""></a></span>
                     </div> -->
                     <div class="col-12 center-flex">
                        <span><a href="#"><img class="bigProfile" src="https://cdn.pixabay.com/photo/2014/02/05/16/37/london-259174_960_720.jpg" alt=""></a></span>
                        <h3>what would you like to do?</h3>
                     </div>

                </div>
                <br>
                
                <div class="row">
                    
                     <ul class="work">
                         <li> <span class="work-logo"><i class="fas fa-volume-up"></i></span>Announcement</li>
                         <li> <span class="share-logo"><i class="fas fa-share-alt"></i></span>create coach-in</li>
                         <li> <span class="shield-logo"><i class="fas fa-shield-alt"></i></span>check-in</li>
                         <li> <span class="bookmark-logo"><fa-icon [icon]="faCheckSquare"></fa-icon></span>learn</li>
                         <!-- <li> <span class="comment-logo"><i class="far fa-comment-dots"></i></span></li> -->
                         
                     </ul>

                </div>
              
            </div>
          </div>
          <div class="custome-card">
            <div class="row ">
                <div class="col-6 things-tk">
                    <div class="card text-center">
                        <div class="card-body addBorder">
                            <b><a href="">Things to know</a></b>
                        </div>
                    </div>
                </div>
                <div class="col-6 things-td">
                    <div class="card text-center">
                        <div class="card-body">
                            <b><a href="">Things to do</a></b>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <!-- Filter card -->
    <div class="card">
        <div class="flex-me">
            <fa-icon [icon]='faFilter'></fa-icon>
            <h3>Filter</h3>
        </div>
    </div>
 <div class="card">
        <!-- <div class="card-body">
            <div class="row ">
                <div class="col-1">
                   <span><i class="fas fa-user-tie fa-2x"></i></span>
                </div>
                <div class="col-7 team-member">
                   <h6 class="card-title">Lorem, ipsum.</h6>
                   <p class="card-subtitle"> <small>Date</small> </p>
                </div>    
        </div>

        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, inventore.
        </p>
        <div class="imgage">
            <img src="../../../assets/images/user/bg_1.jpg" class="img-fluid img-responsive col-12 " alt="...">
        </div>


        </div>  -->
        <section class="blogs">
            <!-- <h2 class="md text-center my-2">
                Blogs
            </h2> -->
            <div class="container center-grid">
                <div *ngFor="let blog of centerBlogs" class="blog-card item">
                    <h4>{{blog.title}}</h4>
                    <p>{{blog.description}}</p>
                    <img src="{{blog.img_url}}" alt="">
                   
                </div>
            </div>
        </section>
    </div>
  

