
              
    <div class="container userdetails">
        <div class="row">
            <div class="col">
                <div class="user">
                    <div class="userdetails">
                      <figure>
                          <img src="download.jfif" alt="">
                          <figcaption><h5>Employee name</h5>
                              <small>Employee designation</small>
                          </figcaption>

                        </figure>
                        
                      </div>
                    
                </div>
            </div>
        </div>
    </div>

<!--employee info -->
    <div class="container-fluid fixed">
        <!--emoloyee details-->
        <div class="employeeinfo">
            <div class="info">
                <div class="logo">
                    <span><i class="fas fa-user "></i></span>

                </div>
                <div class="userinfo">
                    <b>Employee ID</b> <br>
                    <small>1330</small>

                </div>

            </div>

            <div class="info">
              <div class="logo">
                  <span><i class="fas fa-envelope "></i></span>

              </div>
              <div class="userinfo">
                  <b>Email</b> <br>
                  <small>kpisoft@entomo.co</small>

              </div>

          </div>

          <div class="info">
              <div class="logo">
                  <span><i class="fas fa-sitemap "></i></span>

              </div>
              <div class="userinfo">
                  <b>Organization Units</b> <br>
                  <small>BANGALORE</small>

              </div>

          </div>
          <hr>
          
          <div class="manager">
              <small class="">Primary Supervisor</small>
              <div class="info">
              
                  <div class="logo">
                      <span><i class="fas fa-user-tie fa-2x"></i></span>

                  </div>
                  <div class="userinfo">
                      <b>Manash Matish</b> <br>
                      

                  </div>

              </div>
          </div>
      </div>     
  </div>
  