<!-- Header -->
<div class="navbar">
    <div class="container flex">
        <div class="logo">
            <img src="../../../assets/images/logo/entomo-4.png" alt="logo">
        </div>
        <!-- <h1 class="logo">ENTOMO</h1> -->
        <nav>
            <ul>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">PhotoGraphy</a></li>
                <li><a href="#">Arts</a></li>
                <li><a href="#">Quotes</a></li>
            </ul>
        </nav>
    </div>
</div>